@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    

}

.member{
    animation: fadeIn 3s ease-in;
}
.mainBody{
    animation: fadeIn 3s ease-in;
}


.mainHeader{
    font-size: 40px;
    text-align: center;
}

.memberPhoto {
    width:200px;
    height: 200px;
}

.gitPhoto{
    width:100px;
    height:100px;
}