
.home-container {
  width: 1000px;
  height: 1000px;
  border-top: solid;
  border-top-color: white;
}

.sideBar{
  width: 150px;
  height: 1000px;
  border-right: solid;
  border-right-color: white;
}

.contentPart{
  width: 300px;
  height: 200px;
  border-right: solid;
  border-right-color: white;
}