.navbar {
  color: #00df9a;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
  /* color: white; */
  text-decoration: none;
}


